.home {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > p {
    position: absolute;
    font-size: 3em;
    bottom: 10px;
    left: 10px;
    color: #232323;

    @media screen and (max-width: 425px) {
      font-size: 2em;
    }
  }

  > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    > h3 {
      font-size: 5em;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: normal;
      text-transform: none;
      text-shadow: none;
      word-wrap: break-word;
    }

    > div {
      margin-top: 1rem;

      > a {
        font-size: 1.5em;
        color: #7158e2;
        margin: 5px;
        transition: all 0.25s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
